/* Google font link */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Permanent+Marker&display=swap");
/*
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important; /* because we wanted to overwrite bootstraps default font-family */
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
