* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.employeeDetailsContainer {
  /* background-color: aqua;
  background-color: rgb(193, 241, 241); */
  width: 80%;
  min-height: 500px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 50px;
}

.employeeDetailsContainer .top {
  /* background-color: olive; */
  width: 100%;
  margin-bottom: 20px;

  padding: 15px 0px;
  border-bottom: 2px solid #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employeeDetailsContainer .top .headingContainer {
  /* background-color: red; */
  font-size: 20px;
  margin-bottom: 20px;
}

.employeeDetailsContainer .top .headingContainer h3 {
  border-bottom: 3px solid #000;
  padding: 0px 10px;
}

.employeeDetailsContainer .top .fieldsContainer {
  /* background-color: aqua; */
  width: 100%;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}

.employeeDetailsContainer .top .addFieldContainer {
  /* background-color: bisque; */
}

.employeeDetailsContainer .top .addFieldContainer input {
  width: 250px;
  height: 35px;
  padding: 3px 7px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #000;
}
.employeeDetailsContainer .top .addFieldContainer button {
  width: 130px;
  height: 35px;
  background-color: green;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.4s;
  cursor: pointer;
}
.employeeDetailsContainer .top .addFieldContainer button:hover {
  background-color: #fff;
  border: 2px solid green;
  color: #000;
}

.employeeDetailsContainer .top .searchFieldContainer input {
  width: 250px;
  height: 35px;
  padding: 3px 7px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #000;
}

.bottom {
  /* background-color: lightpink; */
  width: 100%;
  margin: 10px;
  margin: auto;
}

.bottom .table {
  /* background-color: rebeccapurple; */
  width: 98%;
  border-collapse: collapse;
  margin: auto;
}

.table tr {
  background-color: rgb(255, 203, 245);
  text-align: center;
  height: 40px;
}

.table tr td .buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.table tr th {
  background-color: #000;
  color: #fff;
  font-size: 17px;
  font-weight: 400;

  border: 2px solid #fff;
  border-bottom: 2px solid #000;
}

.table tr th {
  border: 2px solid #000;
}

.table tr td {
  border: 2px solid #000;
}

.table tr td .editBtn {
  width: 100px;
  height: 30px;
  background-color: blue;
  color: #fff;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}
.table tr td .editBtn:hover {
  background-color: #fff;
  border: 2px solid blue;
  color: #000;
}

.table tr td .delBtn {
  width: 100px;
  height: 30px;
  background-color: crimson;
  color: #fff;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}
.table tr td .delBtn:hover {
  background-color: #fff;
  border: 2px solid crimson;
  color: #000;
}
