.footerContainer {
  background-color: #000;
  color: #fff;
  width: 98%;
  height: 35px;
  margin: auto;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 10px;

  border-radius: 10px;
}
